%body
  %div.block
    = render 'shared/side_bar'
      
  %div.block__content
    %div.block__mainup 
      %div.block__groupname
        %h2.element__groupname__current-group 
          = @group.name
      %div.element#edit
        = link_to edit_group_path(@group) do
          = 'EDIT'
      %ul.block__member 
        Member:
        - @group.users.each do |user|
          %li.block__memberlist 
            = user.name
    %div.block__main
      .messages
        = render @messages

  %div.block__bottom
    %div.block__comment
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'